<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false; setStToDefault()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Иловакунии гурӯҳ
      </mat-panel-title>
      <mat-panel-description>
        * Зергурӯҳҳо танҳо барои як қатор гурӯҳҳои факултаи сохтмон лозиманд
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form class="example-form">
      <mat-form-field class="eighty-width">
        <input matInput name="special" [(ngModel)]="selectedSpec"
               placeholder="Ихтисос" aria-label="Number" [formControl]="myControl"
               [matAutocomplete]="auto" value="" required>
        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option.fSpec_Shifr + " " + option.fSpec_NameTaj }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="twenty-width">
        <input type="text" name="name" [(ngModel)]="group.name" matInput
               placeholder="Номи гурӯҳ" required>
      </mat-form-field>

      <mat-form-field class="sixteen-width">
        <mat-select [(value)]="group.degree"
                    placeholder="Дараҷаи таҳсилот" required>
          <mat-option value="0">бакалавр</mat-option>
          <mat-option value="1">магистр</mat-option>
          <mat-option value="2">PhD</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="sixteen-width">
        <mat-select [(value)]="group.type"
                    placeholder="Шакли таҳсил" required>
          <mat-option value="0">рӯзона</mat-option>
          <mat-option value="1">ғоибона</mat-option>
          <mat-option value="2">фосилавӣ</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ten-width">
        <input type="number" name="course" [(ngModel)]="group.course" matInput
               placeholder="Курс" required>
      </mat-form-field>

      <mat-form-field class="ten-width">
        <input type="number" name="studentsAmount" [(ngModel)]="group.studentsAmount" matInput
               placeholder="Миқдори донишҷӯён" required>
      </mat-form-field>

      <mat-form-field class="ten-width">
        <input type="number" name="subgroup" [(ngModel)]="group.subgroup" matInput
               placeholder="Зергурӯҳҳо" required>
      </mat-form-field>

      <mat-form-field class="ten-width">
        <input type="number" name="subgroup2" [(ngModel)]="group.subgroup2" matInput
               placeholder="Зергурӯҳҳо*" required>
      </mat-form-field>

      <mat-form-field class="ten-width">
        <input type="number" name="educationYear" [(ngModel)]="group.educationYear" matInput
               placeholder="Соли таҳсил" required>
      </mat-form-field>

      <span class="text-right">
        <button [hidden]="!add" (click)="addGroup();" mat-raised-button class="bg-dark text-colored">
          <mat-icon>add_circle_outline</mat-icon> Илова намудан
        </button>
        <button [hidden]="add" (click)="saveModifiedGroup();" mat-raised-button class="bg-dark text-colored">
          <mat-icon>save</mat-icon> Сабт кардан
        </button>
      </span>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<div class="example-header">
  <mat-form-field class="full-width">
    <input matInput #filter placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">

  <mat-table class="table-hover" [(dataSource)]="dataSource" matSort>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header> № </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ном </mat-header-cell>
      <mat-cell *matCellDef="let row;"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="degree">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Дараҷаи таҳсилот </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.degree}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Шакли таҳсил </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="course">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Курс </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.course}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="studentsAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Донишҷӯён </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.studentsAmount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subgroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Зергурӯҳҳо (асосӣ) </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.subgroup}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subgroup2">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Зергурӯҳҳо<sup style="color: red;">*</sup> </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.subgroup2}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="educationYear">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Соли таҳсил </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.educationYear | educationYear}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Амалиёт </mat-header-cell>
      <mat-cell *matCellDef="let row;">

        <mat-icon class="md-24"
                  [class.locked]="row.load > 0"
                  [class.hovered-color]="row.load === 0"
                  matTooltip="{{ (row.load > 0) ? 'Ин гурӯҳ аллакай сарборӣ дорад' : 'Тағйир додани гурӯҳ'}}"
                  (click)="editGroup(row)">edit</mat-icon>

        <mat-icon class="md-24"
                  [class.locked]="row.load > 0"
                  [class.hovered-color]="row.load === 0"
                  matTooltip="{{ (row.load > 0) ? 'Ин гурӯҳ аллакай сарборӣ дорад' : 'Хориҷ кардани гурӯҳ'}}"
                  (click)="deleteGroup(row)">delete</mat-icon>

        <mat-icon class="md-24"
                  *ngIf="row.load === 0"
                  [class.locked]="row.extraction === 0"
                  [class.hovered-color]="row.extraction > 0"
                  matTooltip="{{ (row.extraction === 0) ? 'Ин гурӯҳ иқтибос надорад' : 'Сохтани сарборӣ'}}"
                  >add_circle</mat-icon>

        <mat-icon class="md-24 hovered-color"
                  *ngIf="row.load > 0"
                  matTooltip="Кушодани сарбории гурӯҳ"
                  (click)="openLoad(row); ">open_with</mat-icon>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div #load></div>
