<mat-card style="width: 60%;" class="mat-elevation-z8">
  <h3 class=" text-center">
    Нақшаи таълим
  </h3>
  <table class="standard-info">
    <tr>
      <td>барои ихтисоси</td>
      <td>{{Standard.specialty}}</td>
    </tr>
    <tr>
      <td>Дараҷаи таҳсилот:</td>
      <td>{{Standard.degreeOfStudying}}</td>
    </tr>
    <tr>
      <td>Касб:</td>
      <td>{{Standard.profession}}</td>
    </tr>
    <tr>
      <td>Мӯҳлати таҳсил:</td>
      <td>{{Standard.timeOfStudying}}</td>
    </tr>
    <tr>
      <td>Шакли таҳсил:</td>
      <td>{{Standard.typeOfStudying}}</td>
    </tr>
    <tr>
      <td>Санаи қабул:</td>
      <td>
        {{Standard.dateOfAcceptance | date:'dd/MM/yyyy'}}
      </td>
    </tr>
  </table>
</mat-card>

<div class="bg-black">
  <table>
    <tr>
      <th rowspan="3">№</th>
      <th rowspan="3">
        <h4>Номгӯи фанҳо</h4>
      </th>
      <th rowspan="3">Ҳаҷми кредитҳо</th>
      <th rowspan="2" colspan="4">Шаклҳои назорат аз рӯи семестрҳо</th>
      <th colspan="3">Ба омӯзгор</th>
      <th rowspan="3">КМД</th>
      <th [attr.colspan]="_terms.length">Тақсимоти кредитҳо ба курсҳо ва семестрҳо</th>
    </tr>
    <tr>
      <th rowspan="2">Ҳамагӣ</th>
      <th colspan="2">Аз ҷумла</th>
      <th *ngFor="let i of courses" colspan="2">Курси {{i}}</th>
    </tr>
    <tr>
      <th>Имтиҳон</th>
      <th>Ҳимояи КМД</th>
      <th>Санҷиш</th>
      <th>Санҷиши дифф</th>
      <th>Аудиторӣ</th>
      <th>КМРО</th>
      <th *ngFor="let i of _terms">{{i}}</th>
    </tr>
    <tr bgcolor="#eee">
      <th *ngFor="let i of columns">{{i}}</th>
    </tr>
    <ng-template ngFor let-j="index" let-type [ngForOf]="subjectTypes">
      <tr class="bg-eee text-total" [class.hovered]="type.showConfigIcons && (Standard.locked === 0)">
        <td colspan="2">{{romanize(j + 1) + "." + type.name}}</td>
        <td>{{ sum(type.id, 'credits') }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ sum(type.id, 'total') }}</td>
        <td>{{ sum(type.id, 'audit') }}</td>
        <td>{{ sum(type.id, 'kmro') }}</td>
        <td>{{ sum(type.id, 'iws') }}</td>
        <ng-template ngFor let-i="index" let-term [ngForOf]="_terms">
          <td>
          <span *ngIf="sumTerms(type.id, term) !== 0">
            {{ sumTerms(type.id, term) }}
          </span>
          </td>
        </ng-template>
      </tr>
      <div *ngIf="Standard.locked === 0" (click)="addSubject(type.id);" class="settings" (mouseover)="type.showConfigIcons = true" (mouseleave)="type.showConfigIcons = false">
        <mat-icon class="md-18">add_circle_outline</mat-icon>
        Барои илова намудани фанн дар бахши мазкур ба руяш пахш намоед
        <mat-icon class="md-18">add_circle_outline</mat-icon>
      </div>
      <ng-template ngFor let-i="index" let-subject [ngForOf]="getSubjectsById(type.id)">
        <tr class="showConfig" [class.hovered]="subject.showConfigIcons && (Standard.locked === 0)" *ngIf="subject.idType === type.id" >
          <td>{{ i + 1 }}</td>
          <td class="text-left" style="padding-left: 10px;">
            {{ subject.name }}
            <ng-template [ngIf]="subject.selective === 1">
              (интихобӣ)
            </ng-template>
          </td>
          <td>{{ subject.credits }}</td>
          <td>{{ subject.typeOfMonitoring.exam }}</td>
          <td>{{ subject.typeOfMonitoring.goUpIWS }}</td>
          <td>{{ subject.typeOfMonitoring.checkoutBntu }}</td>
          <td>{{ subject.typeOfMonitoring.checkoutDiff }}</td>
          <td>{{ subject.toTeacher.total }}</td>
          <td>{{ subject.toTeacher.including.audit }}</td>
          <td>{{ subject.toTeacher.including.kmro }}</td>
          <td>{{ subject.IWS }}</td>
          <ng-template ngFor let-_term [ngForOf]="_terms">
            <td>
              <ng-template ngFor let-i="index" let-term [ngForOf]="subject.creditDividing.terms">
              <span *ngIf="term === _term">
                {{ subject.creditDividing.credits[i] }}
              </span>
              </ng-template>
            </td>
          </ng-template>
        </tr>
        <div *ngIf="Standard.locked === 0" class="settings " (mouseover)="subject.showConfigIcons = true" (mouseleave)="subject.showConfigIcons = false">
          <div (click)="editSubject(subject, i)">
            <mat-icon class="md-18">edit</mat-icon>
          </div>
          <div (click)="deleteSubject(subject, i)">
            <mat-icon class="md-18">delete</mat-icon>
          </div>
        </div>
      </ng-template>
    </ng-template>
    <tr class="bg-eee text-total">
      <td colspan="2">Ҳамагӣ</td>
      <td>{{ sum(0, 'credits') }}</td>
      <td></td>
      <td></td>
      <td>{{ sum(0, 'total') }}</td>
      <td>{{ sum(0, 'audit') }}</td>
      <td>{{ sum(0, 'kmro') }}</td>
      <td>{{ sum(0, 'iws') }}</td>
      <ng-template ngFor let-term [ngForOf]="_terms">
        <td>
          <span *ngIf="sumTerms(0, term) !== 0">
            {{ sumTerms(0, term) }}
          </span>
        </td>
      </ng-template>
    </tr>
  </table>
</div>
