mat-card {
  width: 50%;
  margin: 20px auto;
}

table {
  width: 100%;
}

table td {
  padding: 5px 10px;
}

span.definition { padding-left: 10px; }
tr:nth-child(odd) span.definition { border-left: 4px solid #ff5a60; }
tr:nth-child(even) span.definition { border-left: 4px solid #167f92; }

table tr:not(:last-child) { border-bottom: 1px solid #167f92; }


