<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false; setStToDefault()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Иловакунии фанн
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="example-form">
      <mat-form-field class="eighty-width">
        <input type="text" name="name_tj" [(ngModel)]="subject.name_tj" matInput
               placeholder="Номи тоҷикӣ (пурра)" required>
      </mat-form-field>

      <mat-form-field class="twenty-width">
        <input type="text" name="shortname_tj" [(ngModel)]="subject.shortname_tj" matInput
               placeholder="Номи тоҷикӣ (кӯтоҳ)">
      </mat-form-field>

      <mat-form-field class="eighty-width">
        <input type="text" name="name_ru" [(ngModel)]="subject.name_ru" matInput
               placeholder="Номи русӣ (пурра)">
      </mat-form-field>

      <mat-form-field class="twenty-width">
        <input type="text" name="shortname_ru" [(ngModel)]="subject.shortname_ru" matInput
               placeholder="Номи русӣ (кӯтоҳ)">
      </mat-form-field>

      <div class="text-right">
        <button [hidden]="!add" (click)="addSubject();" mat-raised-button class="bg-dark text-colored">
          <mat-icon>add_circle_outline</mat-icon> Илова намудан
        </button>
        <button [hidden]="add" (click)="saveModifiedSubject();" mat-raised-button class="bg-dark text-colored">
          <mat-icon>save</mat-icon> Сабт кардан
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<div class="example-header">
  <mat-form-field class="full-width">
    <input matInput #filter placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">

  <mat-table class="table-hover" [(dataSource)]="dataSource" matSort>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header> № </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name_tj">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Номи тоҷикӣ (пурра) </mat-header-cell>
      <mat-cell *matCellDef="let row;"> {{row.name_tj}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name_ru">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Номи русӣ (пурра) </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name_ru}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="shortname_tj">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Номи тоҷикӣ (кӯтоҳ) </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.shortname_tj}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="shortname_ru">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Номи русӣ (кӯтоҳ) </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.shortname_ru}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Амалиёт </mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <input type="number" value="{{row.id}}" hidden #id>

        <mat-icon class="md-24 hovered-color" title="Тағйир додани фан" (click)="editSubject(row)">edit</mat-icon>
        <mat-icon class="md-24 hovered-color" title="Хориҷ кардани фан" (click)="deleteSubject(row)">delete</mat-icon>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
