.container{
  margin: 30px auto;
  width: 590px;
}

.example-full-width{
  width: 100%;
}

.half-width {
  width: 49%;
}

.one-third-width{
  width: 32%;
}

.two-third-width{
  width: 64%;
}

.border-bottom {
  border-bottom: 1px solid #292838;
}
