.container{
  margin: 30px auto;
  width: 590px;
}

.example-full-width{
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #167F92;
  color: #167F92;
  margin-bottom: 5px;
}

mat-form-field  {
  width: 140px;
}
