.container{
  margin: 30px auto;
  width: 590px;
}

.full-width{
  width: 100%;
}

.border-bottom {
  padding-bottom: 10px;
}

.bb{
  border-bottom: 1px solid #167F92;
}

.border-bottom h6 {
  width: 90%;
  margin: auto;
  color: #167F92;
}

mat-form-field  {
  width: 146px;
}

.error {
  font-size: 12px;
  font-style: oblique;
}

.mat-dialog-title .title {
  width: 60%;
}

.mat-dialog-title .error {
  width: 38%;
}
