<div class="container">
  <h3 mat-dialog-title>Гурӯҳи зеринро хориҷ кардан мехоҳед?</h3>
  <div mat-dialog-content>
    <table id="standard-info">
      <tr>
        <td>Ном</td>
        <td>{{data.name}}</td>
      </tr>
      <tr>
        <td>Дараҷаи таҳсилот:</td>
        <td>{{data.degree}}</td>
      </tr>
      <tr>
        <td>Шакли таҳсил:</td>
        <td>{{data.type}}</td>
      </tr>
      <tr>
        <td>Курс:</td>
        <td>{{data.course}}</td>
      </tr>
      <tr>
        <td>Миқдори донишҷӯён:</td>
        <td>{{data.studentsAmount}}</td>
      </tr>

      <tr>
        <td>Соли таҳсил:</td>
        <td>{{data.educationYear}}</td>
      </tr>
    </table>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button
            cdkFocusInitial
            class="bg-dark text-colored half-width"
            [mat-dialog-close]="1"
    >
      <mat-icon>done</mat-icon>Ҳа</button>
    <button mat-raised-button
            class="bg-dark text-colored half-width"
            (click)="onNoClick()"
            tabindex="-1"
    >
      <mat-icon>cancel</mat-icon>Не</button>
  </div>
</div>
