<app-fk-filter (OnChooseKafedra)="getKafedrasLoadById($event);"></app-fk-filter>

<mat-card class="mat-elevation-z8">
  <div class="text-center">
    <h3>Селанамоӣ</h3>
    <h6>
      <ng-template [ngIf]="+kafedra.id !== -1">барои кафедраи "{{ kafedra.fullName | getName:'tj' }}" - и</ng-template>
      <ng-template [ngIf]="+kafedra.id === -1">барои ҳамаи кафедраҳои </ng-template>
        "{{ faculty.fullName }}"
    </h6>
  </div>
</mat-card>

<ng-template ngFor let-erSubject [ngForOf]="getErrorSubjects()">
  <div class="alert alert-danger mat-elevation-z8 d-print-none" *ngIf="error">
    Фанни <strong>{{ erSubject.subjectName }}</strong> дар гурӯҳи <strong>{{ erSubject.group }}</strong>,
    курси {{ erSubject.course }}, {{ erSubject.degree }}, {{ erSubject.type }} аллакай селанамоӣ шудааст,
    вале дар ҷадвали сарборӣ пайдо нашуд.
    <button class="btn btn-success toogle"
            (click)="correctErroneousSubject(erSubject);">Ислоҳ кардан</button>
  </div>
</ng-template>

<div>
  <table id="table">
    <tr class="header-load-table">
      <th>№</th>
      <th>Номгӯи фанн</th>
      <th>Курс</th>
      <th>Семестр</th>
      <th>Гурӯҳ</th>
      <th>Факулта</th>
      <th>Дараҷаи таҳсил</th>
      <th>Шакли таҳсил</th>
      <th>
        <mat-icon matTooltip="Шумораи донишҷӯён">group</mat-icon>
      </th>
      <th>Намуд</th>
      <th>Соат</th>
      <th>Селанамоӣ</th>
    </tr>
    <ng-template ngFor let-i="index" let-subject [ngForOf]="filteredSubjects">
        <tr [class.bg_eee]="i % 2 === 1">
          <td>{{ i + 1 }}</td>
          <td class="text-left" style="padding-left: 10px;">
            {{ subject.subjectName }}
          </td>
          <td>{{ subject.course }}</td>
          <td>{{ subject.term }}</td>
          <td>
            <div class="group-column">{{ subject.group }}</div>
          </td>
          <td>{{ subject.fcName }}</td>
          <td>{{ subject.degree }}</td>
          <td>{{ subject.type }}</td>
          <td>{{ sumStudentsAmount(+subject.id) }}</td>
          <td>{{ subject.section }}</td>
          <td>{{ subject.hour }}</td>
          <td class="teacher-column">
            <ng-template ngFor let-flowSubject [ngForOf]="findFlowGroup(+subject.id)">
              <div style="width: 100%;">
                <div style="display: inline-block;">{{ flowSubject.group }}</div>
                <div style="display: inline-block; float: right;">
                  <mat-icon
                    *ngIf="flowSubject.isFlowSaved === true"
                    class="md-18"
                    (click)="disConnectFlowedGroups(+subject.id, +flowSubject.id);">delete</mat-icon>
                  <mat-icon
                    *ngIf="flowSubject.isFlowSaved === false"
                    class="md-18"
                    (click)="saveFlowedSubject(+subject.id, +flowSubject.id);">save</mat-icon>
                </div>
              </div>
            </ng-template>
            <mat-select *ngIf="findSimilarSubjects(subject).length !== 0 &&
                        findFlowGroup(+subject.id).length === 0 &&
                        subject.idGroup === 0"
                        [(value)]="subject.idGroup"
                        placeholder="Интихоб намоед">
              <mat-option *ngFor="let sb of findSimilarSubjects(subject)" value="{{sb.id}}">
                {{ sb.group }}
              </mat-option>
            </mat-select>
          </td>
        </tr>
    </ng-template>
  </table>
</div>
