<app-fk-filter (OnChooseKafedra)="getKafedrasLoadById($event);"></app-fk-filter>

<mat-card class="mat-elevation-z8">
  <div class="text-center">
    <h3>Сарборӣ</h3>
    <h6>
      <ng-template [ngIf]="+kafedra.id !== -1">барои кафедраи "{{ kafedra.fullName | getName:'tj' }}" - и</ng-template>
      <ng-template [ngIf]="+kafedra.id === -1">барои ҳамаи кафедраҳои </ng-template>
        "{{ faculty.fullName }}"
    </h6>
  </div>
</mat-card>
<div>
  <table id="table">
    <tr class="header-load-table">
      <th>№</th>
      <th>Номгӯи фанн</th>
      <th>Курс</th>
      <th>Семестр</th>
      <th>Гурӯҳ</th>
      <th>Дараҷаи таҳсил</th>
      <th>Шакли таҳсил</th>
      <th>
        <mat-icon matTooltip="Шумораи донишҷӯён">group</mat-icon>
      </th>
      <th>Намуд</th>
      <th>Соат</th>
      <th>Селанамоӣ</th>
    </tr>
    <ng-template ngFor let-i="index" let-subject [ngForOf]="filteredSubjects()">
        <tr [class.bg_eee]="i % 2 === 1">
          <td>{{ i + 1 }}</td>
          <td class="text-left" style="padding-left: 10px;">
            {{ subject.subjectName }}
          </td>
          <td>{{ subject.course }}</td>
          <td>{{ subject.term }}</td>
          <td>{{ subject.group }}</td>
          <td>{{ subject.degree }}</td>
          <td>{{ subject.type }}</td>
          <td>{{ sumStudentsAmount(+subject.id) }}</td>
          <td>{{ subject.section }}</td>
          <td>{{ subject.hour }}</td>
          <td class="teacher-column">
            <ng-template ngFor let-flowSubject [ngForOf]="findFlowGroup(+subject.id)">
              <div style="width: 100%;">
                <div style="display: inline-block;">{{ flowSubject.group }}</div>
                <div style="display: inline-block; float: right;">
                  <mat-icon
                    *ngIf="flowSubject.isFlowSaved === true"
                    class="md-18"
                    (click)="disConnectFlowedGroups(+subject.id, +flowSubject.id);">delete</mat-icon>
                  <mat-icon
                    *ngIf="flowSubject.isFlowSaved === false"
                    class="md-18"
                    (click)="saveFlowedSubject(+subject.id, +flowSubject.id);">save</mat-icon>
                </div>
              </div>
            </ng-template>
            <mat-select *ngIf="findSimilarSubjects(subject).length !== 0
                        && findFlowGroup(+subject.id).length === 0"
                        [(value)]="subject.idGroup"
                        placeholder="Интихоб намоед">
              <mat-option *ngFor="let sb of findSimilarSubjects(subject)" value="{{sb.id}}">
                {{ sb.group }}
              </mat-option>
            </mat-select>
            <!--<ng-template [ngIf]="subject.idTeacher !== ''">-->
              <!--<div class="toogle" matTooltip="{{subject.idTeacher}}">{{ subject.idTeacher | teacherName }}</div>-->
              <!--<div style="float: right;">-->
                <!--<mat-icon class="md-18"-->
                          <!--*ngIf="subject.isTeacherSaved === true"-->
                          <!--(click)="deleteTeacherId(+subject.id);">delete-->
                <!--</mat-icon>-->

                <!--<mat-icon class="md-18"-->
                          <!--*ngIf="subject.isTeacherSaved === false"-->
                          <!--(click)="connectTeacherWithSubject(subject.idTeacher, +subject.id)">save-->
                <!--</mat-icon>-->
              <!--</div>-->
            <!--</ng-template>-->
          </td>
        </tr>
    </ng-template>
    <!--<tr>-->
      <!--<th *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13-->
              <!--,14,15,16,17,18,19,20,21,22,23,24,25]">{{i}}</th>-->
      <!--<th *ngIf="Curriculum.locked === 0">26</th>-->
    <!--</tr>-->
  </table>
</div>
