<div class="gb__main-wrapper">
  <aside id="nav" class="lter bg-dark">
    <section class="vbox">
      <section class="w-f nav-xs">
        <div data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2">
          <div class="clearfix wrapper dk logo-wrapper">
            <a class="logo text-center toogle">
              <img src="assets/images/education.svg" class="svg-icon icon-logo">
            </a>
          </div>
          <nav class="nav-primary">
            <ul class="nav2">
              <li>
                <a class="toogle">
                  <figure>
                    <img src="assets/images/report2.png" class="svg-icon">
                  </figure>
                  <span>Standards</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </section>
  </aside>

  <header id="top-menu" class="header bg-dark js-main-top-menu">
    <div class="header-content application">
      <input name="componentName" hidden [(ngModel)]="component" #cmp>
      <h2 class="headertitle"> «Education Department» - <span style="color: #ff5a60;">{{cmp.value}}</span></h2>
    </div>
  </header>

  <div class="container2 footer-stick">
    <section id="content">
      <section class="vbox stretch">
        <section class="main-content" id="main-content">
          <div #content></div>
        </section>
      </section>
    </section>
  </div>
  <footer class="site-footer">
    <div class="site-footer__content">
      <p class="author">Copyright JT © (2018) - «Education Department» Application </p>
    </div>
  </footer>
</div>
