<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false; setStToDefault()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Иловакунии стандарт
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="example-form" #formControl="ngForm">
      <mat-form-field class="full-width">
        <input matInput name="special" [(ngModel)]="selectedSpec"
               placeholder="Ихтисос" aria-label="Number" [formControl]="myControl"
               [matAutocomplete]="auto" value="" required>
        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option.fSpec_Shifr + " " + option.fSpec_NameTaj }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="twenty-one-width">
        <mat-select [(value)]="standardList.degreeOfStudying"
                    placeholder="Дараҷаи таҳсилот" required>
          <mat-option value="0">бакалавр</mat-option>
          <mat-option value="1">магистр</mat-option>
          <mat-option value="2">PhD</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="twenty-one-width">
        <input type="number" [max]="4" [min]="2" name="time"
               [value]="2" [(ngModel)]="standardList.timeOfStudying" matInput
               placeholder="Мӯҳлати таҳсил" required>
      </mat-form-field>

      <mat-form-field class="twenty-one-width">
        <mat-select [(value)]="standardList.typeOfStudying"
                    placeholder="Шакли таҳсил" required>
          <mat-option value="0">рӯзона</mat-option>
          <mat-option value="1">ғоибона</mat-option>
          <mat-option value="2">фосилавӣ</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="twenty-one-width">
        <input matInput [matDatepicker]="picker" placeholder="Санаи қабул"
               name="special" [(ngModel)]="standardList.dateOfAcceptance" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <span class="text-right">
        <button [hidden]="!add" [disabled]="!formControl.valid" (click)="addStandard();" mat-raised-button class="bg-dark text-colored">
          <mat-icon>add_circle_outline</mat-icon> Илова намудан
        </button>
        <button [hidden]="add" (click)="saveModifiedSt();" mat-raised-button class="bg-dark text-colored">
          <mat-icon>save</mat-icon> Сабт кардан
        </button>
      </span>
    </form>
  </mat-expansion-panel>
</mat-accordion>


<div class="example-header">
  <mat-form-field class="full-width">
    <input matInput #filter placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">

  <mat-table class="table-hover" [(dataSource)]="dataSource" matSort>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header> № </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="specialty">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ихтисос </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.specialty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="degreeOfStudying">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Дараҷаи таҳсилот </mat-header-cell>
      <mat-cell *matCellDef="let row;"> {{row.degreeOfStudying}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timeOfStudying">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Мӯҳлати таҳсил </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.timeOfStudying}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="typeOfStudying">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Шакли таҳсил </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.typeOfStudying}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateOfAcceptance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Санаи қабул </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dateOfAcceptance | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Амалиёт </mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <input type="number" value="{{row.id}}" hidden #id>

        <mat-icon class="md-24" [class.locked]="row.locked === 1"
                  [class.hovered-color]="row.locked === 0"
                  matTooltip="{{ (row.locked === 1) ? 'Иҷозат нест' : 'Тағйир додан'}}"
                  (click)="editSt(row);">edit</mat-icon>

        <mat-icon class="md-24" [class.locked]="row.locked === 1"
                  [class.hovered-color]="row.locked === 0"
                  matTooltip="{{ (row.locked === 1) ? 'Иҷозат нест' : 'Хориҷ кардан'}}"
                  (click)="deleteSt(row);">delete
        </mat-icon>

        <mat-icon class="md-24 hovered-color"
                  matTooltip="Дидани фанҳои стандарт"
                  (click)="openSt(row);">open_with
        </mat-icon>

        <mat-icon *ngIf="row.locked === 0"
                  class="md-24 hovered-color"
                  matTooltip="Қулф кардан (Стандарт пурра шуморида мешавад)"
                  (click)="lockStandard(row, 1);">lock
        </mat-icon>

        <mat-icon *ngIf="row.locked === 1"
                  class="md-24 hovered-color"
                  matTooltip="Кушодани қулф (Стандарт нопурра шуморида мешавад)"
                  (click)="lockStandard(row, 0);">lock_open
        </mat-icon>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<div #standard></div>
