<div mat-dialog-title>
  <div *ngIf="add">Иловакунии фанни нав</div>
  <div *ngIf="!add">Тағйирдиҳии фанни иқтибос</div>
  <div *ngIf="error" class="text-danger text-right error">{{errorText}}</div>
</div>

<div mat-dialog-content>
  <form class="example-form" #form="ngForm">
    <table class="text-center">
      <tr>
        <td colspan="4">
          <mat-form-field class="full-width">
            <input type="text"
                   matInput
                   name="name"
                   [(ngModel)]="data.name"
                   readonly
                   placeholder="Номи фанн">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <mat-form-field class="full-width">
            <mat-select [(value)]="data.kfName" placeholder="Кафедраи фанн" required>
              <mat-optgroup *ngIf="recommendKaf.length > 0" [label]="'Кафедра(ҳо)и пештара интихобшуда'">
                <mat-option *ngFor="let kafedra of recommendKaf" value="{{ kafedra.shortName }}">
                  {{ kafedra.fullName | getName:'tj' }}
                </mat-option>
              </mat-optgroup>

              <mat-optgroup *ngIf="recommendKaf.length > 0" [label]="'Ҳамаи кафелраҳо'">
                <mat-option *ngFor="let kafedra of kafedras" value="{{ kafedra.shortName }}">
                  {{ kafedra.fullName | getName:'tj' }}
                </mat-option>
              </mat-optgroup>

              <ng-template [ngIf]="recommendKaf.length <= 0">
                <mat-option *ngFor="let kafedra of kafedras" value="{{ kafedra.shortName }}">
                  {{ kafedra.fullName | getName:'tj' }}
                </mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="credits"
                   [(ngModel)]="data.credits"
                   readonly
                   placeholder="Кредитҳо">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="auditCredits"
                   [(ngModel)]="data.auditCredits"
                   placeholder="Кредитҳои аудиторӣ">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lessonHours"
                   [(ngModel)]="data.lessonHours"
                   placeholder="Соатҳои дарсӣ">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="course"
                   [(ngModel)]="data.course"
                   readonly
                   placeholder="Бахш">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="exam"
                   [(ngModel)]="data.exam"
                   readonly
                   placeholder="Имтиҳон">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="kmd"
                   [(ngModel)]="data.kmd"
                   readonly
                   placeholder="КМД">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="courseProject"
                   [(ngModel)]="data.courseProject"
                   placeholder="Лоиҳаи курсӣ">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="courseWork"
                   [(ngModel)]="data.courseWork"
                   placeholder="Кори курсӣ">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="border-bottom" colspan="2">
          <h6>Лексия</h6>
        </td>
        <td class="border-bottom" colspan="2">
          <h6>Озмоишӣ</h6>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lkPlan"
                   [(ngModel)]="data.lkPlan"
                   placeholder="Аз рӯи нақша">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lkTotal"
                   [(ngModel)]="data.lkTotal"
                   placeholder="Ҳамагӣ">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lbPlan"
                   [(ngModel)]="data.lbPlan"
                   placeholder="Аз рӯи нақша">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lbTotal"
                   [(ngModel)]="data.lbTotal"
                   placeholder="Ҳамагӣ">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="border-bottom" colspan="2">
          <h6>Амалӣ</h6>
        </td>
        <td class="border-bottom" colspan="2">
          <h6>Семинарӣ</h6>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="prPlan"
                   [(ngModel)]="data.prPlan"
                   placeholder="Аз рӯи нақша">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="prTotal"
                   [(ngModel)]="data.prTotal"
                   placeholder="Ҳамагӣ">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="smPlan"
                   [(ngModel)]="data.smPlan"
                   placeholder="Аз рӯи нақша">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="smTotal"
                   [(ngModel)]="data.smTotal"
                   placeholder="Ҳамагӣ">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-accordion>
      <mat-expansion-panel class="full-width" [expanded]="panelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Майдонҳои иловагӣ
          </mat-panel-title>
          <mat-panel-description>
            Таҷрибаомӯзиҳо ва ғ.
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table>
          <tr>
            <td colspan="2">
              <mat-form-field class="full-width">
                <input type="number"
                       matInput
                       name="trainingPrac"
                       [(ngModel)]="data.trainingPrac"
                       placeholder="Таҷ.таълимӣ">
              </mat-form-field>
            </td>
            <td colspan="2">
              <mat-form-field class="full-width">
                <input type="number"
                       matInput
                       name="manuPrac"
                       [(ngModel)]="data.manuPrac"
                       placeholder="Таҷ.истеҳсолӣ">
              </mat-form-field>
            </td>
            <td colspan="2">
              <mat-form-field class="full-width">
                <input type="number"
                       matInput
                       name="diplomPrac"
                       [(ngModel)]="data.diplomPrac"
                       placeholder="Т.пешаздипломӣ">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <mat-form-field class="full-width">
                <input type="number"
                       matInput
                       name="bachelorWork"
                       [(ngModel)]="data.bachelorWork"
                       placeholder="Кори бакалаврӣ">
              </mat-form-field>
            </td>
            <td colspan="3">
              <mat-form-field class="full-width">
                <input type="number"
                       matInput
                       name="gosExam"
                       [(ngModel)]="data.gosExam"
                       placeholder="Ком.имт.давлатӣ">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>

<div mat-dialog-actions>
  <!--<button *ngIf="add"-->
          <!--(click)="confirmAddSubject();"-->
          <!--mat-raised-button-->
          <!--class="bg-dark text-colored half-width">-->
    <!--<mat-icon>add_circle_outline</mat-icon> Илова намудан-->
  <!--</button>-->
  <button *ngIf="!add"
          (click)="confirmSavingSubject();"
          mat-raised-button
          class="bg-dark text-colored half-width">
    <mat-icon>save</mat-icon> Сабт кардан
  </button>

  <button cdkFocusInitial
          mat-raised-button
          (click)="onNoClick()"
          class="bg-dark text-colored half-width">
    <mat-icon>cancel</mat-icon> Қатъ кардан
  </button>
</div>
