<h1 *ngIf="add" mat-dialog-title>Иловакунии фанни нав</h1>
<h1 *ngIf="!add" mat-dialog-title>Тағйирдиҳии фанни иқтибос</h1>

<div mat-dialog-content>
  <form class="example-form" #form="ngForm">
    <table class="text-center">
      <tr>
        <td colspan="4">
          <mat-form-field class="example-full-width">
            <input type="text"
                   matInput
                   name="name"
                   [(ngModel)]="data.name"
                   readonly
                   placeholder="Номи фанн">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="credits"
                   [(ngModel)]="data.credits"
                   readonly
                   placeholder="Кредитҳо"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="auditCredits"
                   [(ngModel)]="data.auditCredits"
                   placeholder="Кредитҳои аудиторӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lessonHours"
                   [(ngModel)]="data.lessonHours"
                   placeholder="Соатҳои дарсӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="course"
                   [(ngModel)]="data.course"
                   readonly
                   placeholder="Бахш"
            >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="exam"
                   [(ngModel)]="data.exam"
                   readonly
                   placeholder="Имтиҳон"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="kmd"
                   [(ngModel)]="data.kmd"
                   readonly
                   placeholder="КМД"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="courseProject"
                   [(ngModel)]="data.courseProject"
                   readonly
                   placeholder="Лоиҳаи курсӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="courseWork"
                   [(ngModel)]="data.courseWork"
                   readonly
                   placeholder="Кори курсӣ"
            >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="border-bottom" colspan="2">Лексия</td>
        <td class="border-bottom" colspan="2">Озмоишӣ</td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lkPlan"
                   [(ngModel)]="data.lkPlan"
                   placeholder="Аз рӯи нақша"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lkTotal"
                   [(ngModel)]="data.lkTotal"
                   placeholder="Ҳамагӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lbPlan"
                   [(ngModel)]="data.lbPlan"
                   placeholder="Аз рӯи нақша"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="lbTotal"
                   [(ngModel)]="data.lbTotal"
                   placeholder="Ҳамагӣ"
            >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="border-bottom" colspan="2">Амалӣ</td>
        <td class="border-bottom" colspan="2">Семинарӣ</td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="prPlan"
                   [(ngModel)]="data.prPlan"
                   placeholder="Аз рӯи нақша"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="prTotal"
                   [(ngModel)]="data.prTotal"
                   placeholder="Ҳамагӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="smPlan"
                   [(ngModel)]="data.smPlan"
                   placeholder="Аз рӯи нақша"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="number"
                   matInput
                   name="smTotal"
                   [(ngModel)]="data.smTotal"
                   placeholder="Ҳамагӣ"
            >
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input type="number"
                   matInput
                   name="trainingPrac"
                   [(ngModel)]="data.trainingPrac"
                   placeholder="Таҷ.таълимӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input type="number"
                   matInput
                   name="manuPrac"
                   [(ngModel)]="data.manuPrac"
                   placeholder="Таҷ.истеҳсолӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input type="number"
                   matInput
                   name="diplomPrac"
                   [(ngModel)]="data.diplomPrac"
                   placeholder="Т.пешаздипломӣ"
            >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input type="number"
                   matInput
                   name="bachelorWork"
                   [(ngModel)]="data.bachelorWork"
                   placeholder="Кори бакалаврӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input type="number"
                   matInput
                   name="gosExam"
                   [(ngModel)]="data.gosExam"
                   placeholder="Ком.имт.давлатӣ"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input type="number"
                   matInput
                   name="total"
                   [(ngModel)]="data.total"
                   placeholder="Ҳамагӣ"
            >
          </mat-form-field>
        </td>
      </tr>
      <!--<tr>-->
        <!--<td colspan="3">-->
          <!--<input type="number"-->
                 <!--matInput-->
                 <!--name="idKafedra"-->
                 <!--[(ngModel)]="data.idKafedra"-->
                 <!--placeholder="Кафедра"-->
          <!--&gt;-->
        <!--</td>-->
      <!--</tr>-->
    </table>
  </form>
</div>

<div mat-dialog-actions>
  <!--<button *ngIf="add"-->
          <!--(click)="confirmAddSubject();"-->
          <!--mat-raised-button-->
          <!--class="bg-dark text-colored half-width">-->
    <!--<mat-icon>add_circle_outline</mat-icon> Илова намудан-->
  <!--</button>-->
  <button *ngIf="!add"
          (click)="confirmSavingSubject();"
          mat-raised-button
          class="bg-dark text-colored half-width">
    <mat-icon>save</mat-icon> Сабт кардан
  </button>

  <button cdkFocusInitial
          mat-raised-button
          (click)="onNoClick()"
          class="bg-dark text-colored half-width">
    <mat-icon>cancel</mat-icon> Қатъ кардан
  </button>
</div>
