<mat-card class="mat-elevation-z8">
  <div class="text-center">
    <h3>Иқтибос</h3>
    <h6>
      аз нақшаи таълимии ихтисоси {{ Curriculum.speciality }} барои курси
      {{ Curriculum.course }} (нимсолаи {{ Curriculum.course * 2 - 1 }} ва {{ Curriculum.course * 2}})
      шӯъбаи {{ Curriculum.type }}, дараҷаи таҳсилоти {{ Curriculum.degree }}
      тибқи нақшаи таълимии тасдиқшудаи санаи {{ Curriculum.dateOfStandard | date:'dd/MM/yyyy'}}
      (низоми таҳсилоти кредитӣ)
    </h6>
  </div>
</mat-card>
<div>
  <table>
    <thead [class.fixed]="fixed">
      <tr>
        <th rowspan="2">№</th>
        <th rowspan="2" style="width: 30%;">
          <h4>Номгӯи фанҳо</h4>
        </th>
        <th rowspan="2">
          <div>Ҳаҷми умумии кредитҳо аз рӯи стандарт</div>
        </th>
        <th rowspan="2">
          <div>Кредитҳои аудиторӣ</div>
        </th>
        <th rowspan="2">
          <div>Соатҳои дарсӣ</div>
        </th>
        <th rowspan="2">
          <div>Бахш</div>
        </th>
        <th rowspan="2">
          <div>Имтиҳон</div>
        </th>
        <th rowspan="2">
          <div>КМД</div>
        </th>
        <th rowspan="2">
          <div>Лоиҳаи курсӣ</div>
        </th>
        <th rowspan="2">
          <div>Кори курсӣ</div>
        </th>
        <th colspan="2">ЛК</th>
        <th colspan="2">ОЗМ</th>
        <th colspan="2">АМ</th>
        <th colspan="2">СМ</th>
        <th rowspan="2">
          <div>Таҷрибаомӯзии таълимӣ</div>
        </th>
        <th rowspan="2">
          <div>Таҷрибаомӯзии истеҳсолӣ</div>
        </th>
        <th rowspan="2">
          <div>Таҷрибаомӯзии пешаздипломӣ</div>
        </th>
        <th rowspan="2">
          <div>Кори бакалаврӣ</div>
        </th>
        <th rowspan="2">
          <div>Ком.имт.давлатӣ</div>
        </th>
        <th rowspan="2">
          <div>Ҳамагӣ</div>
        </th>
        <th rowspan="2">
          <div>Номгӯи кафедраи муттасадии фани таълимӣ</div>
        </th>
        <th *ngIf="Curriculum.locked === 0" rowspan="2">
          <div>Амалиёт</div>
        </th>
      </tr>
      <tr>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
      </tr>
      <tr>
        <th *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13
              ,14,15,16,17,18,19,20,21,22,23,24,25]">{{i}}</th>
        <th *ngIf="Curriculum.locked === 0">26</th>
      </tr>
    </thead>
    <ng-template ngFor let-semester [ngForOf]="[1,2]">
      <tr class="bg-eee">
        <td colspan="26">НИМСОЛАИ {{semester}}</td>
      </tr>
      <ng-template ngFor let-i="index" let-subject [ngForOf]="getSubjectsByTerm(semester)">
        <tr>
          <td>{{ i + 1 }}</td>
          <td class="text-left" style="padding-left: 10px;">
            {{ subject.name }}
            <ng-template [ngIf]="subject.selective === 1">
              (интихобӣ)
            </ng-template>
          </td>
          <td>
            <span *ngIf="subject.credits !== 0 ">{{ subject.credits }}</span>
          </td>
          <td>
            <span *ngIf="subject.auditCredits !== 0 ">{{ subject.auditCredits }}</span>
          </td>
          <td>
            <span *ngIf="subject.lessonHours !== 0 ">{{ subject.lessonHours }}</span>
          </td>
          <td>
            <span *ngIf="subject.course !== 0 ">{{ subject.course }}</span>
          </td>
          <td>
            <span *ngIf="subject.exam !== 0 ">{{ subject.exam }}</span>
          </td>
          <td>
            <span *ngIf="subject.kmd !== 0 ">{{ subject.kmd }}</span>
          </td>
          <td>
            <span *ngIf="subject.courseProject !== 0 ">{{ subject.courseProject }}</span>
          </td>
          <td>
            <span *ngIf="subject.courseWork !== 0 ">{{ subject.courseWork }}</span>
          </td>
          <td>
            <span *ngIf="subject.lkPlan !== 0 ">{{ subject.lkPlan }}</span>
          </td>
          <td>
            <span *ngIf="subject.lkTotal !== 0 ">{{ subject.lkTotal }}</span>
          </td>
          <td>
            <span *ngIf="subject.lbPlan !== 0 ">{{ subject.lbPlan }}</span>
          </td>
          <td>
            <span *ngIf="subject.lbTotal !== 0 ">{{ subject.lbTotal }}</span>
          </td>
          <td>
            <span *ngIf="subject.prPlan !== 0 ">{{ subject.prPlan }}</span>
          </td>
          <td>
            <span *ngIf="subject.prTotal !== 0 ">{{ subject.prTotal }}</span>
          </td>
          <td>
            <span *ngIf="subject.smPlan !== 0 ">{{ subject.smPlan }}</span>
          </td>
          <td>
            <span *ngIf="subject.smTotal !== 0 ">{{ subject.smTotal }}</span>
          </td>
          <td>
            <span *ngIf="subject.trainingPrac !== 0 ">{{ subject.trainingPrac }}</span>
          </td>
          <td>
            <span *ngIf="subject.manuPrac !== 0 ">{{ subject.manuPrac }}</span>
          </td>
          <td>
            <span *ngIf="subject.diplomPrac !== 0 ">{{ subject.diplomPrac }}</span>
          </td>
          <td>
            <span *ngIf="subject.bachelorWork !== 0 ">{{ subject.bachelorWork }}</span>
          </td>
          <td>
            <span *ngIf="subject.gosExam !== 0 ">{{ subject.gosExam }}</span>
          </td>
          <td>
            <span *ngIf="total(subject) !== 0">{{ total(subject) }}</span>
          </td>
          <td>
            <span>{{ subject.kfName | getName:'tj' }}</span>
          </td>
          <td *ngIf="Curriculum.locked === 0">
            <mat-icon (click)="editSubject(subject)" class="md-18 hovered-color">edit</mat-icon>
            <mat-icon class="md-18" [class.locked]="subject.selective === 0"
                      [class.hovered-color]="subject.selective === 1"
                      matTooltip="{{ (subject.selective === 0) ? 'Иҷозат нест' : 'Хориҷ кардан'}}"
                      (click)="deleteSubject(subject)"
            >delete</mat-icon>
          </td>
        </tr>
      </ng-template>
      <tr class="text-total">
        <td></td>
        <td>Ҳамагӣ</td>
        <td>
          <span *ngIf="sum('credits', semester) !== 0">{{ sum('credits', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('auditCredits', semester) !== 0">{{ sum('auditCredits', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('lessonHours', semester) !== 0">{{ sum('lessonHours', semester) }}</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <span *ngIf="sum('lkPlan', semester) !== 0">{{ sum('lkPlan', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('lkTotal', semester) !== 0">{{ sum('lkTotal', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('lbPlan', semester) !== 0">{{ sum('lbPlan', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('lbTotal', semester) !== 0">{{ sum('lbTotal', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('prPlan', semester) !== 0">{{ sum('prPlan', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('prTotal', semester) !== 0">{{ sum('prTotal', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('smPlan', semester) !== 0">{{ sum('smPlan', semester) }}</span>
        </td>
        <td>
          <span *ngIf="sum('smTotal', semester) !== 0">{{ sum('smTotal', semester) }}</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <span *ngIf="sum('total', semester) !== 0">{{ sum('total', semester) }}</span>
        </td>
        <td></td>
        <td *ngIf="Curriculum.locked === 0"></td>
      </tr>
    </ng-template>
    <tr class="text-total">
      <td></td>
      <td>Ҷамъ</td>
      <td>
        <span *ngIf="sum('credits', 3) !== 0">{{ sum('credits', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('auditCredits', 3) !== 0">{{ sum('auditCredits', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('lessonHours', 3) !== 0">{{ sum('lessonHours', 3) }}</span>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <span *ngIf="sum('lkPlan', 3) !== 0">{{ sum('lkPlan', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('lkTotal', 3) !== 0">{{ sum('lkTotal', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('lbPlan', 3) !== 0">{{ sum('lbPlan', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('lbTotal', 3) !== 0">{{ sum('lbTotal', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('prPlan', 3) !== 0">{{ sum('prPlan', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('prTotal', 3) !== 0">{{ sum('prTotal', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('smPlan', 3) !== 0">{{ sum('smPlan', 3) }}</span>
      </td>
      <td>
        <span *ngIf="sum('smTotal', 3) !== 0">{{ sum('smTotal', 3) }}</span>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <span *ngIf="sum('total', 3) !== 0">{{ sum('total', 3) }}</span>
      </td>
      <td></td>
      <td *ngIf="Curriculum.locked === 0"></td>
    </tr>
  </table>
</div>
